* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-color: white;
}

body {
  background-color: white;
}

#app {
  width: 1200px;
  margin: 0 auto;
  padding: 100px;
}
